* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.button {
    background-color: transparent;
    color: #000;
    border: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 500;
    border-radius: .25rem
}

.button--primary {
    background-color: #6246ea; 
    border: .15rem solid #6246ea; 
    color: white;
    
}

.button--secondary {
    background-color: #c8c8fa; 
    border: .15rem solid #c8c8fa; 
    color: #6246ea;
}

.button--tertiary {
    color: #e45858; 
    border: .15rem solid #e45858;
}