* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1.5rem 2.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: black;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    list-style: none;
}

.navigation__item {
    line-height: 1;
}

.navigation__link {
    text-decoration: none;
    color: white;
}